pkgbase = vendor-reset-dkms-git
	pkgdesc = Kernel module for vendor-specific hardware reset routines.
	pkgver = r117.084881c
	pkgrel = 1
	url = https://github.com/gnif/vendor-reset
	arch = any
	license = GPL2
	makedepends = git
	depends = dkms
	conflicts = vendor-reset-git
	source = git+https://github.com/gnif/vendor-reset.git
	source = fix-imports.patch::https://github.com/gnif/vendor-reset/pull/103.patch
	md5sums = SKIP
	md5sums = SKIP

pkgname = vendor-reset-dkms-git
