pkgbase = mesa-git
	pkgdesc = An open-source implementation of the OpenGL specification
	pkgver = 24.2.0_devel.189767.312b50da5c3.cf414e8e816ef69a9060a0db6760519c
	pkgrel = 1
	url = https://www.mesa3d.org/
	arch = x86_64
	license = custom
	makedepends = expat
	makedepends = libdrm
	makedepends = libelf
	makedepends = libglvnd
	makedepends = libva
	makedepends = libvdpau
	makedepends = libx11
	makedepends = libxdamage
	makedepends = libxml2
	makedepends = libxrandr
	makedepends = libxshmfence
	makedepends = libxxf86vm
	makedepends = llvm
	makedepends = lm_sensors
	makedepends = rust
	makedepends = spirv-llvm-translator
	makedepends = spirv-tools
	makedepends = systemd
	makedepends = vulkan-icd-loader
	makedepends = wayland
	makedepends = xcb-util-keysyms
	makedepends = zstd
	makedepends = git
	makedepends = clang
	makedepends = cmake
	makedepends = elfutils
	makedepends = glslang
	makedepends = libclc
	makedepends = meson
	makedepends = python-mako
	makedepends = python-ply
	makedepends = rust-bindgen
	makedepends = wayland-protocols
	makedepends = xorgproto
	makedepends = directx-headers-git
	makedepends = libomxil-bellagio
	depends = clang
	depends = expat
	depends = libdrm
	depends = libclc
	depends = libelf
	depends = libglvnd
	depends = libomxil-bellagio
	depends = libxcb
	depends = libxdamage
	depends = libxshmfence
	depends = libxxf86vm
	depends = libx11
	depends = llvm-libs
	depends = lm_sensors
	depends = spirv-llvm-translator
	depends = systemd
	depends = python
	depends = wayland
	depends = xcb-util-keysyms
	depends = vulkan-icd-loader
	depends = zstd
	optdepends = opengl-man-pages: for the OpenGL API man pages
	provides = vulkan-mesa-layers
	provides = opencl-clover-mesa
	provides = opencl-rusticl-mesa
	provides = opencl-driver
	provides = opengl-driver
	provides = vulkan-driver
	provides = vulkan-radeon
	provides = vulkan-swrast
	provides = libva-mesa-driver
	provides = mesa-vdpau
	provides = mesa-libgl
	provides = mesa
	conflicts = vulkan-mesa-layers
	conflicts = opencl-clover-mesa
	conflicts = opencl-rusticl-mesa
	conflicts = vulkan-radeon
	conflicts = vulkan-swrast
	conflicts = libva-mesa-driver
	conflicts = mesa-vdpau
	conflicts = mesa-libgl
	conflicts = mesa
	options = !lto
	source = mesa::git+https://gitlab.freedesktop.org/mesa/mesa.git#branch=main
	source = fix-rusticl-include-dirs.patch::https://gitlab.freedesktop.org/mesa/mesa/-/merge_requests/29275.patch
	source = LICENSE
	validpgpkeys = 8703B6700E7EE06D7A39B8D6EDAE37B02CEB490D
	validpgpkeys = 946D09B5E4C9845E63075FF1D961C596A7203456
	validpgpkeys = E3E8F480C52ADD73B278EE78E1ECBE07D7D70895
	validpgpkeys = A5CC9FEC93F2F837CB044912336909B6B25FADFA
	validpgpkeys = 71C4B75620BC75708B4BDB254C95FAAB3EB073EC
	validpgpkeys = 57551DE15B968F6341C248F68D8E31AFC32428A6
	b2sums = SKIP
	b2sums = SKIP
	b2sums = cc60238726b35133b5b729fb4ed1e76e04136588533615d84b4a54656d5b41727d5e7ff06ef4de3eb102eed6669d6c5c5cb8ac9fbdf6fc25aa477877c5c3ba87

pkgname = mesa-git
